body{
    background-color: skyblue;
    
}
h1.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  25px; 
    color: rgb(253, 253, 255);
    background-color: rgb(115, 147, 218);
    text-align: center;
    border-radius: 9px;
    border-color: rgba(211, 211, 211, 0.76);
    opacity: 0.7;
    
    width: 1350px;
    height: 40px;
}
